div{
    width: 200px;
    height: 100px;
    color: white;
    margin: 10px;
}
.transition{
    background-color: rgb(183, 110, 252);
    transition: all 2s linear;
}
.transition:hover{
    background-color: coral;
    transform: translateX(100px);
}
.animation{
    background-color: rgb(121, 121, 255);
    /*animation-name: move;
    animation-duration: 10s;
    animation-iteration-count: 2;*/
    animation: move 5s infinite;
}
@keyframes move{
    0%{
        transform: translateX(20px);
    }
    50%{
        transform: translateX(100px);
        background-color: rgb(216, 129, 100);
    }
    75%{
        transform: translateX(-200px);
        background-color:rgb(255, 98, 255);
    }
    100%{
        transform: translateX(20px);
        background-color: rgb(199, 255, 115);
    }
}
