.banner{
    border: 5px solid darkblue;
    padding: 10px;
    overflow: hidden;
}
.first{
    float: right;
    height: 300px;
    margin-left: 50px;
}
.second{
    float: left;
    height: 50px;
}
p{
    clear: both;
}
.one,.two,.three,.four{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.one {
    float: left;
    background-color: cornflowerblue;
    height: 200px;
    width: 33.33%;
}
.two {
    float: left;
    background-color:rgb(225, 116, 240);
    height: 200px;
    width: 33.33%;
}
.three {
    float: left;
    background-color:lightcoral;
    height: 200px;
    width: 33.33%;
}
.four {
    float: left;
    background-color: lightcoral;
    height: 200px;
    width: 33.33%;
}
h1 {
    clear: both;
}
div.new{
    border: 3px solid greenyellow;
    background-color: coral;
    margin-top: 40px;
    /*text-align: left;
    position: relative;*/
}
.odin{
    background-color: rgb(255, 200, 98);
    position: relative;
    left: 20rem;
    right: 50%;
}
.dva{
    background-color: rgb(146, 255, 119);
    position: relative;
}
.special{
    background-color: lightseagreen;
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 50%;
}
button{
    background-color: rgb(135, 165, 74);
    font-size: 40px;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
}
.bannertwo{
    background-color: rgb(50, 65, 204);
}
div h1{
    color: white;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
}
@media screen and (min-width: 576px) {
    .bannertwo{
        background-color: mediumorchid;
    }
    div h1{
    color: aliceblue;
    font-size: 60px;
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}
@media screen and (max-width: 768px) {
    .bannertwo {
        background-color: rgb(255, 207, 103);
    }

    div h1 {
        color: aliceblue;
        font-size: 60px;
        text-align: right;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}
img{
    width: 100px;
    height: 100px;
    position: absolute;

}
.img{
    margin: 20px;
    width: 80vw;
    height: 70vh;
    border: 5px solid cornflowerblue;
    position: relative;
}
.imgone{
    top: 0;
    left: 0;
    position: static;
}
.imgtwo {
    top: 10%;
    left: 10%;
    z-index: 1;
}
.imgthree {
    top: 20%;
    left: 20%;
    z-index: 2;
}
.pf::before{
    content: "Hello ";
    font-size: 2rem;
    font-weight: bold;
    color: crimson;
    background-color: cornflowerblue;
}
.pf::after{
    content: "After";
    font-weight: bold;
    font-size: 2rem;
    color: darkolivegreen;
    background-color: coral;
}
.cat{
    width: 400px;
    height: 300px;
}
.newdiv{
    width: 400px;
    margin: 100px auto;
    border: 2px solid blue;
}
.title{
    color: black;
}
.newdiv::before{
    content: "";
    background-color: lightslategrey;
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    top: -40px;
    left: -40px;
    z-index: -2;
}